
body {
	margin:0;
	background: url(background.jpg)no-repeat center center;
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}

img.slowCyclist {
	width: 100px;
    height: 100px;
    margin: 0px;
    position: absolute;
	right: 23px;
	}


h1 {
	font-size: 25px;
	font-weight: bold;
}


