

body {
	margin:0;
	background-color: #CD773C;
	}

/*background endless animation*/
#horizontal-scroll {
	position:fixed;
	width: 1280px;  
	height: 400px;  
	background: url(background.jpg) repeat-x;  
	-webkit-animation: backgroundScroll 99999999s linear infinite; /*control speed here*/
	animation: backgroundScroll 999999s linear infinite;  
	}

	@-webkit-keyframes backgroundScroll {
	from {background-position: 0 650;}  
	to {background-position: -99999999px 0;}  
	}

	@keyframes backgroundScroll {
	from {background-position: 650 0;}  
	to {background-position: -99999999px 0;}  
	}

#wrapper {
	position: relative;
    width: 100%;
	}
	
#slowCyclist {
    margin-top:-50px;
    position: relative; 

	}

#fastCyclist {
	margin-top:100px;
    position: relative
	}

h1 {
	font-size: 25px;
	font-weight: bold;
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	margin: auto;
	padding: 20px;
	color: red;
	}

